<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <nav></nav>
  <header class="welcome">歡迎光臨，請輸入帳號密碼</header>
  <div class="container">
    <!-- <div></div> -->
    <div class="login-box">
      <div class="login-introduce">登入系統</div>
      <form action="" method="GET/POST" class="login-data">
        <div class="account login-item"><span class="account-title">帳號</span><input  class="key-in" type="text" name="username" ></div>
        <div class="password login-item"><span class="password-title">密碼</span><input class="key-in" type="password"  name="password"></div>
        <div class="password login-item"><span class="agree-title">同意條款</span><input class="agree-box" type="checkbox" ></div>  
      </form>
      <button class="login-btn" type="submit">登入</button>
    </div>
  </div>

  <script src="/static/home_page.js"></script>
</body>
</html>