<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <nav></nav>
  <header class="welcome">歡迎光臨，請輸入帳號密碼</header>
  <div class="container">
    <!-- <div></div> -->
    <div class="box-container">
      <div class="login-box">
        <div class="login-introduce">登入系統</div>
        <form method="post" action="/signin" class="login-data">
          <div>  
            <label for="username" class="account-title">帳號</label>
            <input  class="key-in" type="text" name="username" >
          </div>
          <div>
            <label for="password" class="password-title">密碼</label>
            <input class="key-in" type="password"  name="password">
          </div>
          <div>
            <label for="agree" class="agree-title">同意條款</label>
            <input class="agree-box" type="checkbox" name="agree" >
          </div>
          <div>
            <input type="submit" value="登入" class="login-btn">
          </div>
        </form>
      </div>
      <hr>
      <div class="squared-box">
        <p class="square-title">計算正整數平方</p>
        <div>
          <form  class="square-data">
            <div>
              <label for="squarenumber">正整數</label>
              <input class = "key-in square-input" type="text" name ="squarenumber">
            </div>
            <input type="submit" value="計算" class="square-btn" >
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="/static/home_page.js">
  </script>
</body>
</html>