/* 共通 */
body{
  font-size: 20px;
}
/* nav */
nav{
  max-width: 100vw;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}



.menu {
  display: flex;
  flex: auto;
  justify-content: flex-end;
}
.nav-item {
  margin-right: 10px;
}
/* Welcome */
.banner {
  margin: 20px 0 20px 0;
  background-color:tomato;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
/* 主內容 */

main {
  display: flex;
  justify-content: center;
}

.main-content {
  width: 1200px;
  align-items: center;
}

/* small */


.sm-img {
  height: 50px;
  width: 80px;
  background-color: aliceblue;
  flex: none;
  object-fit: cover;
  object-position: center;
}

/* big */
.fa-star {
  color: rgb(255, 251, 0);
  display: block;
  align-self: flex-start;
}

.bg-box{
  background-image: url("jojo2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  height: 200px;
}

.bg-text{
  color: aliceblue;
  text-align: center;
  width: 100%;
  background-color: rgba(255,0,0, 0.3);
  margin: 0;
}

@media(max-width:1920px){
  .ipad-mode{
    display: none;
  }
  .mobile-mode{
    display: none;
  }
  .small-box {
    display: flex;
    width: 1200px;
  }

  .sm-box {
    border: solid 1px ;
    flex: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 20px 20px 0;
    background-color: blue;
    height: 50px;
    max-width: 33.3% 
  }

  #bgb-1 {
    background-color: aqua;
    margin-right: 20px;
    width: 380px;
  }

  #bgb-6 {
    background-color: aqua;
    margin-right: 20px;
    width: 380px;
  }
  .big-box {
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
  }
  .block {
    display: flex;
    width: 100%;
    height: 0%;
  }


  
  .innerBlock-2 {
    flex: auto;
    display: flex;
    justify-content: space-between;
  }
  .bg-box {
    text-align: left;
    align-items: end;
    width: 25%;
    border: solid 1px;
    margin: 0 20px 20px 0;
}
}

@media(max-width:1200px) {
  .pc-mode{
    display: none;
  }
  .ipad-mode{
    display: block;
  }
  .mobile-mode{
    display: none;
  }
  
  .main-content {
      width: 90%;
    }
  .small-box{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .sm-box{
    max-width: 100%;
    flex: auto;
    margin: 0 20px 20px 0;
  }

  .big-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .bg-box{
    flex: auto;
    max-width: 50%;
  }

}

@media(max-width:6000px) {}











